*
!config.yaml  
!config
!config/*
!profile
!profile/*
!data
!data/**
!jobscript.sh
!rules
!rules/*
!Snakefile
!.gitignore
!run_snakemake.sh
!scripts
!scripts/*
!README.md
!dag.pdf
!dag_rules.pdf
!output.png

